html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* font-family: Poppins !important; */
  font-family: 'Staatliches', cursive !important;
}

body {
  background: url(./images/unslash02.jpg) no-repeat 50% 50%;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

body {
  background: #e01a1a;
  font-family: "Open Sans";
  color: white;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Fredoka One', sans-serif;
}

body {
  box-sizing: border-box;
}

body * {
  box-sizing: inherit;
}

#side {
  position: fixed;
  background: linear-gradient(#0083cb, #00ae8e);
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: width 0.4s, background 0.9s;
  overflow: hidden;
 z-index: 29;
}

#side .hamburger {
  transition: color 0.3s;
}

#side ul.menu {
  position: absolute;
  left: 100px;
  top: 38%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  opacity: 0;
  z-index: -5;
}

#side ul.menu a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  transition: color 0.3s;
}

#side ul.menu li {
  margin-top: 10px;
  line-height: 1;
  font-weight: bolder;
}

main.open #side ul.menu {
  left: 60px;
  opacity: 1;
  z-index: 99999999999;
}

#side::before {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 0;
  opacity: 0;
  transition: opacity 0.6s, background-color 0.6s;
}

.wrapper[data-selected="explore"] ~ nav#side {
  background: linear-gradient(#e2401c, #fd7c14);
}

main.open:not(.transitioning) .wrapper[data-selected="explore"] ~ nav#side::before {
  background: #fd7c14;
}

.wrapper[data-selected="shop"] ~ nav#side {
  background: linear-gradient(#efd97d, #af992d);
}

main.open .wrapper[data-selected="shop"] ~ nav#side::before {
  background: #efd97d;
}

main.open .wrapper[data-selected="shop"] ~ nav#side .hamburger {
  color: black;
}

main.open .wrapper[data-selected="shop"] ~ nav#side .menu a {
  color: black;
}

.wrapper[data-selected="explore"] ~ nav#side {
  background: linear-gradient(#e2401c, #fd7c14);
}

main.open .wrapper[data-selected="explore"] ~ nav#side::before {
  background: #e2401c;
}

.wrapper[data-selected="learn"] ~ nav#side {
  background: linear-gradient(#00b674, #1f6121);
}

main.open .wrapper[data-selected="learn"] ~ nav#side::before {
  background: #1f6121;
}

#nav-toggle {
  appearance: none;
  position: absolute;
  left: 0;
      margin-top: -38px;
  top: 50%;
  transform: translate(0%, -50%);
  width: 61px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
  background: transparent;
  border: 0;
  font-family: arial, sans-serif;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);*/
  z-index: 1;
  transition: all 0.3s;
  outline: none !important;
  cursor: pointer;
  padding: 0px;
}

main.open #nav-toggle {
  top: 38%;
  left: 42px;
}

.wrapper {
  transform-origin: 75% 50%;
  position: relative;
  z-index: 20;
  transition: transform 0.5s;
  margin-left: 60px;
  width: calc(100% - 60px);
}

.transitioning .wrapper {
  transform: scale(0.75) translateX(150%);
}

main {
  overflow-x: hidden;
}

main.open, main.transitioning {
  overflow: hidden;
  height: 100vh;
}

main.transitioning .wrapper,
main.open .wrapper {
  overflow: hidden;
  max-height: 100vh;
}

main.open .wrapper {
  transform: scale(0.75);
}

main.open nav#side {
  width: 100%;
}

main.open nav#side::before {
  opacity: 1;
}

.page {
  //overflow: scroll-y;
  position: relative;
  opacity: 0;

  transition: transform 0.4s;
  display: none;
}
.page.active {
  opacity: 1;
  display: block;
}

.page .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

#home {
  background-image: url("./images/turtle4.jpg");
  background-repeat: no-repeat;
  background-size: cover, contain;
  background-position: right;
}


.introducing {

}

.indro {
    position: absolute;
    top: 35%;
    left: 10%;
    white-space: nowrap;
    line-height: 44px;
    z-index: 2;
    color: #fff;
}


.menu {
}

#side {
  position: fixed;
  background: transparent;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: width 0.4s, background 0.9s;
  overflow: hidden;
/*  z-index: 29; */
width: 43px;
}
 .wrapper {
   margin-left: 0px;
   width: 100%;
}

/* @media screen and (max-width: 700px) {
  .wrapper {
     margin-left: 0px;
     width: 100%;
  }
  body {
  }
  #side {
    position: fixed;
    background: transparent;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: width 0.4s, background 0.9s;
    overflow: hidden;
    z-index: 29;
}
#nav-toggle {
  padding: 0px;
}
}
 @media (max-width: 2000px) and (orientation: portrait) {
}
@media (max-width: 2000px) and (orientation: landscape) {
  #nav-toggle {
    padding: 0px;
  }
  #side {
    position: fixed;
    background: transparent;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: width 0.4s, background 0.9s;
    overflow: hidden;
    z-index: 29;
}
} */

.bottom-right {
width: fit-content;
position: absolute;
bottom: 16px;
right: 25px;
}

.bottom-right-top {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.bottom-right-bottom {
  font-size: 35px;
  margin: 0;
  padding: 0;
}

.top-right {
  width: fit-content;
  position: absolute;
  top: 16px;
  right: 25px;
}

.top-right-left {
  font-size: 42px;
  margin: 0;
  padding: 0;
  float: right;
      text-align: right;
      line-height: 0.97;
          margin-top: 5px;
}

.top-right-right {
  font-size: 20px;
  margin: 0;
  padding: 0;
    transform: rotate(-90deg);
    float: right;
    margin-top: 24px;
        margin-right: -12px;

}

.spacing {
  letter-spacing: 4px;
    text-align: center;
}

.top-left-top {
  transform: rotate(180deg);
  font-size: 20px;
  margin: 0;
  padding: 0;
}


.top-left-bottom {
  transform: rotate(180deg);
  font-size: 35px;
  padding: 0;
  margin: 0;
}


.top-left {
width: fit-content;
position: absolute;
top: 19px;
left: 25px;
}

.bottom-left-top {
  font-size: 35px;
  margin: 0;
  padding: 0;
}


.bottom-left-bottom {
  font-size: 20px;
  padding: 0;
  margin: 0;
}


.bottom-left {
width: fit-content;
position: absolute;
bottom: 77px;
left: -34px;
transform: rotate(90deg);
}


@media screen and (max-width:800px) {
	.sidebarrr3 {
    flex: 0 !important;
  }
  .contenttt3 {
    padding-top: 0px !important;
  }
	.mainn3 {
    flex-direction: column !important;
  }
  .pic {
    position: inherit !important;
  }
}


  #home {
     height: -webkit-fill-available;
     overflow: hidden;
  }

main.open .logog {
  position: absolute;
  z-index: 99999 !important;
  display: block;
  width: 100%;
    text-align: center;
}

.logog {
  z-index: -5;
  display: none;
  width: 100%;
    text-align: center;
    transition: all 0.9s ease-in-out;
-webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
}

.middle-home {
    position: absolute;
    top: 50%;
    transform: translate(0%, -89%);
    margin-left: 15%;
}

.middle-home-h1 {
  letter-spacing: 6px;
    font-weight: bolder;
}


@media screen and (max-width: 1024px) {
  .middle-home-h1 {
    font-size: 33px;
    letter-spacing: 6px;
    font-weight: bolder;
  }
}

.me {
      margin-left: 27px;
}

.tre {
      margin-right: 5px;
}

.hamburger {
  font-family: monospace;
}




.mainn {
    flex: 1;
    display: flex;
    padding-top: 30px;
    background: black;
    padding-bottom: 30px;
    flex-direction: inherit;
}
.sidebarrr {
	background: black;
	flex:0 0 400px;
	padding: 20px;
  text-align: center;
  font-size: 38px;
  color: #08fdd8;
  font-weight: bolder;
}
.contenttt {
	background: black;
	padding: 30px;
	flex:1;
  text-align: center;
}

@media screen and (max-width:680px) {
	.sidebarrr {
    flex: 0;
  }
  .contenttt {
    padding-top: 0px !important;
  }
	.mainn {
    flex-direction:column;
  }
}


@media screen and (max-width:800px) {
	.sidebarrr3 {
    flex: 0 !important;
  }
  .contenttt3 {
    padding-top: 0px !important;
  }
	.mainn3 {
    flex-direction: column !important;
  }
  .pic {
    position: inherit !important;
  }
}

.nameforprofile {
  padding: 20px;
  border-bottom: 1px solid white;
  color: #00ffd7;
}

.allthing {
  text-align: left;
  font-size: 16px;
  margin-top: 30px;
}

.pic {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.contenttt3 {
	background: black;
	padding: 30px;
	flex:1;
  text-align: center;
}

 .profile {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.sidebarrr3 {
	background: black;
	flex:0 0 40%;
	padding: 20px;
  text-align: center;
  font-size: 38px;
  color: #08fdd8;
  font-weight: bolder;
}

#about-us {
  height: 200vh !important;
}

/* team */

/* Team Member CSS
===========================*/

h1.team-h1 {
    background: black;
    flex: 0 0 400px;
    /* padding: 20px; */
    text-align: center;
    font-size: 38px;
    color: #08fdd8;
    font-weight: bolder;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


.cf {
    *zoom: 1;
}

.team-container {
  border-top: 1px #ffffff solid;
  background: black;
}

.team-member {
  width: 25%;
  float: left;
  text-align: center;
  padding-bottom: 40px;
}

.team-member:last-child {margin-right: 0;}


.team-member span,
.team-member h3 {
}

.team-member h3 {
  color: #00ffd7;
margin: 0;
padding: 13px;
}

.email {
  color: #EA2678;

}

  .team-member span {
      display: block;
      margin-left: 30px;
      margin-right: 30px;
      text-align: left;
      font-size: 13px;
  }

.team-photo {
    transition: 0.4s all ease-in-out;
}

.team-photo:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}


/* code for phone layout */
@media (max-width:850px){
  .team-member {

  }

}



@media (max-width:680px){
  .team-member {
    float: none;
    display: block;
    margin: 50px auto;
    width: 100%;
    text-align: center;
  }

  .team-member h3,
  .team-member span {
    margin-left: 50px;
    margin-right: 50px;
  }
}

img.team-photo {
  width: 84%;
}

.email-button {
  border: 1px solid #08fdd8;
border-radius: 3px;
background: transparent;
padding: 5px 12px;
color: #08fdd8;
font-size: 11px;
letter-spacing: 4px;
margin-left: 30px;
margin-right: 30px;
float: left;
margin-top: 7px;
}

.email-button2 {
  border: 1px solid #08fdd8;
border-radius: 3px;
background: transparent;
padding: 5px 12px;
color: #08fdd8;
font-size: 11px;
letter-spacing: 4px;
margin-left: 30px;
margin-right: 30px;
float: left;
margin-top: 7px;
}

.email-button2:hover {
    color: black;
    background-color: #08fdd8;
    transition: 0.2s all ease-in-out;
}

.email-button:hover {
    color: black;
    background-color: #08fdd8;
    transition: 0.2s all ease-in-out;
}


#mainn2 {

  border-top: 1px #ffffff solid;
}

#contactp {
  background-image: url(./images/trump-fail-004.jpg);
      background-repeat: no-repeat;
      background-size: cover, contain;
      background-position: center;
      height: -webkit-fill-available;
      width: -webkit-fill-available !important;
      position: relative;
}

.contact-bx {
  width: fit-content;
  position: absolute;
  background: black;
  white-space: nowrap;
  bottom: 0;
  right: 0;
  padding: 50px;
}

.title-c {
  text-align: center;
  font-size: 25px;
  white-space: nowrap;
}

.title-cp {
  text-align: center;
  font-size: 17px;
  color: #08fdd8;
  white-space: nowrap;
}

.code-bx {
  width: fit-content;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 50px;
  background: black;
  white-space: nowrap;
}

.mainn3 {
    flex: 1;
    display: flex;
    background: black;
    height: 100vh;
    width: 100%;
    flex-direction: inherit;
}


@media screen and (max-width: 800px) {
	.sidebarrr3 {
    flex: 0 !important;
  }

  .contenttt3 {
    padding-top: 0px !important;
  }

	.mainn3 {
    flex-direction: column !important;
  }

  .pic {
    position: inherit !important;
    transform: none !important;
  }
}

@media screen and (min-width: 0px) {
.mainn3 {
    flex: 1;
    display: flex;
    background: black;
    height: 100vh;
    width: 100%;
    flex-direction: inherit;
}
}

.twitter-bx {
  width: fit-content;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 50px;
  background: black;
  white-space: nowrap;
}


/* merchandise */

.row {
  width: 100%;
  justify-content: flex-start;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}

.product, .product--blue, .product--orange, .product--red, .product--green, .product--yellow, .product--pink {
  width: 25em;
  height: auto;
  padding: 2em;
  margin: 1em;
  overflow: hidden;
  position: relative;
  flex: auto;
}
.product--blue {
  background-image: url(./images/th.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.product--orange {
  background-image: url(./images/th.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.product--red {
  background-image: url(./images/th.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.product--green {
  background-image: url(./images/th.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.product--yellow {
  background-image: url(./images/th.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.product--pink {
  background-image: url(./images/th.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.product img, .product--blue img, .product--orange img, .product--red img, .product--green img, .product--yellow img, .product--pink img {
  max-width: 100%;
  height: auto !important;
  text-align: center;
}
.product_inner {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
.product_inner p {
  margin: 0;
  color: #08fdd8;
}
.product_inner button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #FFF;
  border-radius: 3px;
  padding: 1em 3em;
  background: none;
  cursor: pointer;
  transition: background ease-in .25s;
}
.product_inner button:hover {
  background: white;
  color: #2B2D42;
}
.product_inner button:before {
  font-family: FontAwesome;
  content: '\f07A';
  color: #FFF;
  position: absolute;
  font-size: 1.5em;
  margin: 0 -1.5em;
}
.product_inner button:hover:before {
  color: #2B2D42;
}
.product_overlay {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.product_overlay h2 {
  color: rgba(43, 45, 66, 0.7);
  font-size: 1.2em;
  margin: 1em 0;
}
.product_overlay i {
  color: rgba(43, 45, 66, 0.7);
  font-size: 1.5em;
}

.show-no {
  visibility: hidden;
}

#merchandise {
  background: black;

}

.text-p {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: black;
}
